@import "../../styles//vars.scss";

$triangle-icon-size: 4px;

.form_element {
  label {
    white-space: nowrap;
  }
  select,
  input {
    margin-left: $sml-space;
  }
}

.form_select {
  position: relative;
  select {
    color: #333;
    cursor: pointer;
    padding-right: $med-space;
  }
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: $triangle-icon-size solid transparent;
    border-right: $triangle-icon-size solid transparent;
    border-top: $triangle-icon-size solid #333;
    position: absolute;
    right: $sml-space;
    top: calc(50% - #{$triangle-icon-size} / 2);
    z-index: 1;
  }
}
.form_submit {
  button {
    padding-right: $med-space;
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-bottom: $triangle-icon-size solid transparent;
      border-top: $triangle-icon-size solid transparent;
      border-left: $triangle-icon-size solid #333;
      position: absolute;
      right: $sml-space;
      top: calc(50% - #{$triangle-icon-size} / 2);
      z-index: 1;
    }
  }
}
