@import "./reset.scss";
@import "./vars.scss";

h1.logo {
  font-family: "Comfortaa", cursive;
  margin: 0;
  letter-spacing: -0.05em;
  font-size: 1.75em;
  &:before {
    display: none;
  }
}

.container {
  padding: $med-space;
  position: relative;
}

.columns {
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: $vp-small) {
    display: block;
  }
}

.editorial {
  column-count: 1;
  column-gap: 40px;
  text-align: justify;
  column-rule: 1px solid $color-light-grey;
  @media only screen and (min-width: $vp-small) {
    column-count: 2;
  }
  @media only screen and (min-width: $vp-large) {
    column-count: 3;
  }
}

.app-header {
  border-bottom: 6px solid $color-main-brand;
  background: rgba(255, 255, 255, 0.9);
  height: 60px;
  padding: 0 $med-space;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -60px;
  position: relative;
}

.app-footer {
  background: $color-light-grey;
  min-height: 100px;
  .logo {
    margin-bottom: $med-space;
    font-size: 1.3em;
  }
  .columns > * {
    display: flex;
    flex-direction: column;
    margin-right: $big-space;
    &:last-child {
      margin-left: 0;
    }
  }
  .app-footer__nav {
    li {
      min-height: 30px;
    }
  }
  .app-footer__info {
    span {
      min-height: 30px;
    }
  }
}
