@import "./vars.scss";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  list-style-type: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poiret One", cursive;
  color: #111;
}

h1 {
  font-size: 3em;
  font-weight: 100;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  &:before {
    content: "";
    width: 50px;
    height: 2px;
    background: #fc0;
    display: inline-block;
    margin-right: $sml-space;
  }
}

p {
  line-height: 1.75em;
  letter-spacing: 0.025em;
}

a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid $color-main-brand;
  transition: all 0.2s ease-in-out;
  color: #333;
  white-space: nowrap;
  &:hover {
    color: #000;
    border-width: 3px;
  }
}

select,
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid $color-main-brand;
  padding: $sml-space;
  position: relative;
}

select,
button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
select {
  background-color: #fff;
  background: linear-gradient(to right, #fff 50%, $color-main-brand 50% 100%);
  background-size: 200%;
  background-position: 0%;
  &:hover {
    background-color: $color-main-brand;
    background-position: -100%;
  }
}
button {
  background-color: $color-main-brand;
  background: linear-gradient(
    to right,
    $color-main-brand 50%,
    $color-light-grey 50% 100%
  );
  background-size: 200%;
  background-position: 0%;
  &:hover {
    background-color: $color-light-grey;
    background-position: -100%;
    color: #000;
  }
  &:disabled {
    color: inherit;
    cursor: default;
    opacity: 0.75;
    &:hover {
      background-color: $color-main-brand;
      background-position: 0%;
    }
  }
}
