@import "../../styles/vars.scss";

$loader-width: 6em;
@keyframes rot8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader {
  width: 100%;
  height: $loader-width;
  display: flex;
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: calc(50% - #{$loader-width} / 2);
    left: calc(50% - #{$loader-width} / 2);
    width: $loader-width;
    height: $loader-width;
    display: block;
    border-radius: 50%;
  }
  &:after {
    border: 1em solid $color-main-brand;
    opacity: 0.2;
  }
  &:before {
    border-top: 1em solid $color-main-brand;
    animation: rot8 1s infinite ease-in-out;
  }
}
