@import "../../styles//vars.scss";

.home-page {
  .feature-image {
    width: 100%;
    min-height: 300px;
    height: calc(100vh - 80px);
    .image {
      background-attachment: fixed;
    }
  }
  &.with-results {
    .feature-image {
      min-height: auto;
      height: 300px;
      @media only screen and (min-width: $vp-large) {
        height: 250px;
      }
    }
  }
}

.listings {
  .listings-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .listing {
      width: 100%;
      margin-bottom: $med-space;
      @media only screen and (min-width: $vp-large) {
        flex-basis: calc(50% - #{$sml-space});
        width: calc(50% - #{$sml-space});
      }
      header {
        width: 100%;
        padding-top: 50%;
        position: relative;
        .image {
          position: absolute;
          top: 0;
          left: 0;
        }
        h1 {
          background: rgba(0, 0, 0, 0.8);
          color: $color-main-brand;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0;
          padding: $sml-space;
          font-size: 1.4em;
          @media only screen and (min-width: $vp-large) {
            font-size: 2em;
          }
          &:before {
            display: none;
          }
        }
      }
      .listing-info {
        display: flex;
        justify-content: space-between;
      }
      .info,
      .price {
        padding: $sml-space;
      }
      .info {
        h2 {
          font-size: 1.2em;
          @media only screen and (min-width: $vp-large) {
            font-size: 1.45em;
          }
        }
        dl {
          display: flex;
          flex-wrap: wrap;
          dt {
            margin-right: 5px;
          }
          dd {
            margin-right: $sml-space;
          }
        }
      }
      .price {
        font-family: "Poiret One", cursive;
        font-weight: bold;
        font-size: 1.35em;
        @media only screen and (min-width: $vp-large) {
          font-size: 1.75em;
        }
      }
    }
  }
}
