@import "../../styles/vars.scss";

.filter {
  display: block;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 0;
  position: absolute;
  bottom: 100%;
  right: $med-space;
  left: $med-space;
  margin-bottom: -10px;
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form_element {
    margin-right: $med-space;
    margin-bottom: $sml-space;
  }
  .form_input input {
    width: 100px;
  }
  @media only screen and (min-width: $vp-large) {
    left: auto;
  }
}
